In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.impute import SimpleImputer

from sklearn.impute import SimpleImputer
import pandas as pd
print("all run")

all run

In [2]:
# df = pd.read_csv("../../datasets/numerical/houses_data.csv")
df = pd.read_csv("../../datasets/numerical/houses_data(cleaned).csv")
df.head()

,Location,Year_Built,Price_USD,Bedrooms,Bathrooms,Square_Feet,Street_Type,Price_per_Square_Foot
0,1,1994,739971.84,6,1,5199.27,1,150
1,3,1941,579540.19,6,1,9173.00,0,200
2,7,1963,944896.93,3,5,7738.00,4,180
3,1,1906,998953.18,7,3,7162.00,2,150
4,4,1960,707713.12,7,5,4076.00,2,120

In [3]:
# Basic data exploration
# print("\nDataset Info:")
# df.info()

# print("\nBasic Statistics:")
# df.describe()

print(df.head())
print(df.info())  # Check for nulls, column types, etc.

   Location  Year_Built  Price_USD  Bedrooms  Bathrooms  Square_Feet  \
0         1        1994  739971.84         6          1      5199.27
1         3        1941  579540.19         6          1      9173.00
2         7        1963  944896.93         3          5      7738.00
3         1        1906  998953.18         7          3      7162.00
4         4        1960  707713.12         7          5      4076.00

   Street_Type  Price_per_Square_Foot
0            1                    150
1            0                    200
2            4                    180
3            2                    150
4            2                    120
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               2000 non-null   int64
 1   Year_Built             2000 non-null   int64
 2   Price_USD              2000 non-null   float64
 3   Bedrooms               2000 non-null   int64
 4   Bathrooms              2000 non-null   int64
 5   Square_Feet            2000 non-null   float64
 6   Street_Type            2000 non-null   int64
 7   Price_per_Square_Foot  2000 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 125.1 KB
None

In [4]:


def preprocess_data(df: pd.DataFrame):
      # Target column
      target_column = 'Price_USD'  


      # Drop rows where target column has NaN
      df = df.dropna(subset=[target_column])

      # Separate features and target
      X = df.drop(columns=[target_column])
      y = df[target_column]
      print("Features shape:", X.shape)
      print("Target shape:", y.shape)

      return X, y

In [5]:
# Check the shapes 
X, y = preprocess_data(df)


print(f"Features shape: {X.shape}")
print(f"Target shape: {y.shape}")

Features shape: (2000, 7)
Target shape: (2000,)
Features shape: (2000, 7)
Target shape: (2000,)

In [6]:
# 2. Data Splitting Function
def split_data(X, y, test_size=0.2, random_state=42):
    return train_test_split(X, y, test_size=test_size, random_state=random_state)

In [7]:
#training KNN sec

def train_knn_model(X_train, y_train, n_neighbors=5):
    model = KNeighborsRegressor(n_neighbors=n_neighbors)
    model.fit(X_train, y_train)
    return model

#prediction Function
def predict_knn_model(model, X_test):
    return model.predict(X_test)

In [8]:
# 5. Metric Calculation Functions
def calculate_mae(y_true, y_pred):
    return mean_absolute_error(y_true, y_pred)

def calculate_mse(y_true, y_pred):
    return mean_squared_error(y_true, y_pred)

def calculate_rmse(y_true, y_pred):
    return mean_squared_error(y_true, y_pred, squared=False)


def calculate_r2(y_true, y_pred):
    return r2_score(y_true, y_pred)


def calculate_mape(y_true, y_pred):
    return (abs((y_true - y_pred) / y_true).mean()) * 100


def calculate_regression_accuracy(y_true, y_pred, tolerance=0.10):
    correct_predictions = sum(abs(y_true - y_pred) <= (tolerance * y_true))
    accuracy = (correct_predictions / len(y_true)) * 100
    return accuracy

In [9]:
def output_train_and_test_data(X_train, X_test, y_train, y_test, y_pred, df):

    target_column = 'Price_USD'
    train_data = pd.DataFrame(X_train, columns=df.drop(columns=[target_column]).columns)
    test_data = pd.DataFrame(X_test, columns=df.drop(columns=[target_column]).columns)

    test_data['Actual_Price'] = y_test
    test_data['Predicted_Price'] = y_pred
    print(test_data )
    return train_data, test_data

In [10]:
#show summary Of Model stat

def show_data(y_test, y_pred):
    mae = calculate_mae(y_test, y_pred)
    mse = calculate_mse(y_test, y_pred)
    rmse = calculate_rmse(y_test, y_pred)
    r2 = calculate_r2(y_test, y_pred)
    mape = calculate_mape(y_test, y_pred)
    accuracy = calculate_regression_accuracy(y_test, y_pred)

    print(f"Mean Absolute Error (MAE): {mae:.2f}")
    print(f"Mean Squared Error (MSE): {mse:.2f}")
    print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
    print(f"R-squared (R²): {r2:.2f}")
    print(f"Regression Accuracy within 10% tolerance: {accuracy:.2f}%")

In [11]:
#main Function

def start(df: pd.DataFrame):
    # MY code
    
    # Preprocess the data
    X, y = preprocess_data(df)

    # Split data
    X_train, X_test, y_train, y_test = split_data(X, y)

    # Train the model
    model = train_knn_model(X_train, y_train)

    # Make predictions
    y_pred = predict_knn_model(model, X_test)

    # Summarize performance metrics
    show_data(y_test, y_pred)

    # Output train and test data
    train_data, test_data = output_train_and_test_data(X_train, X_test, y_train, y_test, y_pred, df)
    
    
    
    
    # return model, Y_test, Y_pred
    return model, train_data, test_data

In [12]:
#Output
model, train_data, test_data = start(df)

Features shape: (2000, 7)
Target shape: (2000,)
Mean Absolute Error (MAE): 259585.79
Mean Squared Error (MSE): 94117588691.94
Root Mean Squared Error (RMSE): 306785.90
R-squared (R²): -0.22
Regression Accuracy within 10% tolerance: 11.00%
      Location  Year_Built  Bedrooms  Bathrooms  Square_Feet  Street_Type  \
1860         3        1929         1          3        780.0            1
353          2        1922         6          3       2653.0            1
1333         1        1914         7          5       2798.0            1
905          7        1926         1          1       9513.0            4
1289         6        1930         5          1       8129.0            0
...        ...         ...       ...        ...          ...          ...
965          2        2024         2          3       7380.0            4
1284         5        1918         2          1       4362.0            4
1739         6        1993         4          2       6721.0            3
261          3        1962         2          2       7441.0            4
535          5        1921         4          3       6526.0            3

      Price_per_Square_Foot  Actual_Price  Predicted_Price
1860                    200     390350.72       602931.200
353                     180     626959.19       566280.738
1333                    150     523212.12       532712.488
905                     180     896467.49       637862.718
1289                    170     944275.76       380796.678
...                     ...           ...              ...
965                     180     888697.08       655802.208
1284                    130     832234.88       618812.580
1739                    170     221679.23       194752.898
261                     200     112483.79       453751.620
535                     130     245486.76       505381.510

[400 rows x 9 columns]